name: Release

on:
  pull_request:
  push:
    branches: master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: yarn
      - run: yarn lint
      - run: yarn test
      - run: yarn build
      - run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
      - uses: ethomson/send-tweet-action@ee76e315ba1f8fed3444282c3c8be0fbb369c751
        with:
          status: "${{github.repository}} V${{ env.SEMVER_VERSION }} is published!\n\nhttps://www.npmjs.com/package/use-route-as-state\n\n@github #send_tweet_action @npmjs #use_route_as_state @reactjs\n\nAvailable in Github"
          consumer-key: ${{ secrets.TWITTER_CONSUMER_API_KEY }}
          consumer-secret: ${{ secrets.TWITTER_CONSUMER_API_SECRET }}
          access-token: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          access-token-secret: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
